/* PAGE WRAPPER */
.medicine-wrapper {
  width: 100%;
  max-width: 1250px;
  margin: 40px auto;
  padding: 20px;
}

/* TITLE */
.medicine-title {
  font-size: 38px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 5px;
  color: #145e33;
}

.pharmacy-label {
  font-size: 18px;
  color: #145e33;
  margin-bottom: 25px;
  text-align: center;
  padding-bottom: 30px;
}

/* MAIN GRID LIKE DAWAAI */
.medicine-grid {
  display: grid;
  grid-template-columns: 1.2fr 1.8fr;
  gap: 40px;
  align-items: start;
}

/* IMAGE CARD */
.medicine-image-card {
  background: #a9c9b2;
  border-radius: 18px;
  height:590px;
  padding: 25px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #efefef;
}

.medicine-img {
  width: 100%;
  max-width: 380px;
  object-fit: contain;
  max-height: 550px;
}

/* RIGHT INFO PANEL */
.medicine-info-panel {
  background: #ffffff;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.06);
  border: 1px solid #efefef;
  color: #000000;
}

.info-item {
  margin: 8px 0;
  font-size: 17px;
}

.info-item b {
  width: 150px;
  display: inline-block;
}

/* DESCRIPTION BOX */
.description-box {
  margin-top: 20px;
  line-height: 1.6;
  font-size: 15px;
  color: #000000;
}

/* PRICE */
.price-tag {
  font-size: 34px;
  font-weight: 700;
  color: #1a7f45;
  margin: 20px 0;
}

/* BUTTON */
.add-btn {
  background: #1a7f45;
  color: #fff;
  padding: 14px 35px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: 0.2s ease;
}

.add-btn:hover {
  background: #145e33;
}

/* MOBILE VIEW */
@media (max-width: 900px) {
  .medicine-grid {
    grid-template-columns: 1fr;
  }

  .medicine-image-card {
    margin-bottom: 20px;
  }
}
